#background_img {
    -webkit-animation-name: background_img;
    -webkit-animation-duration: 3s;
    animation-name: background_img;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    width: 100%;
    height: 100vh;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    filter: blur(4px);
}

.quoted {
    color: white;
}

.quote {
    position: relative;
}

#big_img {
    -webkit-animation-name: background_img;
    -webkit-animation-duration: 3s;
    animation-name: background_img;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    width: 100%;
    height: 100vh;
    display: block;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    filter: blur(4px);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#name {
    -webkit-animation-name: name;
    -webkit-animation-duration: 3s;
    animation-name: name;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    font-size: 5vw;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.quoteText {
    font-size: 5vw;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#title {
    font-size: 2.5vw;
    color: white;
    position: absolute;
    text-align: center;
    vertical-align: center;
}

@keyframes title {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes title {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes name {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes name {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes background_img {
    0% {filter: blur(0);}
    66% {filter: blur(0);}
    100% {filter: blur(4px);}
}

@-webkit-keyframes background_img {
    0% {filter: blur(0);}
    66% {filter: blur(0);}
    100% {filter: blur(4px);}
}

bracket {
    color: gray;
}

p {
    padding-left: 100px;
}

ul {
    padding-left: 150px;
}

h1:not(#name), h2:not(#title), p, ul, li {
    font-size: 1.25vw;
    font-family: melno, monospace;;
}

h2:not(#title) {
    padding-left: 100px;
}

.ind {
    padding-left: 200px;
}

string {
    color: #A47A69;
}

white {
    color: white;
}

attr {
    color: #A6DBF9;
}

p a{
    color: #328CC1;
}

p a:hover{
    color: rgb(115, 168, 199);
}