#background_img {
    width: 100%;
    height: 100vh;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 0);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#name {
    -webkit-animation-name: skills;
    -webkit-animation-duration: 2s;
    animation-name: skills;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    font-size: 5vw;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

@keyframes skills {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes skills {
    from {opacity: 0;}
    to {opacity: 1;}
}

at {
    color: #BC8DBE;
}