@import "variables";

#home {

}

@media (min-width: 767px) {
  #home {

  }
}

@media (min-width: 992px) {
  #home {
    .landing-page {
      .image-container {
        position: relative;

        img {
          &:nth-child(1) {
            position: absolute;
            width: 50vw;
            height: auto;
            right: 0;
          }

          &:nth-child(2) {
            position: absolute;
            width: 35vw;
            height: auto;
            right: 3vw;
            top: 10rem;
          }
        }
      }

      .content-container {
        position: relative;

        h1,
        h2,
        .btn-container {
          position: absolute;
          left: 3rem;
          opacity: 0;
          animation: fade-in 1s ease forwards;
        }

        h1 {
          top: 22.5rem;
          font-size: 6rem;
          animation-delay: 0.5s;
        }

        h2 {
          top: 15rem;
          font-size: 4rem;
        }

        .btn-container {
          position: relative;
          top: 32.5rem;
          animation-delay: 1s;
        }

        .btn-box-lg {
          position: absolute;
        }

        a {
          position: absolute;
          left: 12rem;
          transform: translateY(0.625rem);
          font-size: 1.5rem;
        }
      }
    }
  }
}
