@import "colours";

$none: rgba(0, 0, 0, 0);

@keyframes to_transparent {
    from {
        background-color: $gunmetal;
    } to {
        background: $none;
    }
}

@keyframes to_background {
    from {
        background: $none;
    } to {
        background-color: $gunmetal;
    }
}

@keyframes to_dark_brand {
    from {
        color: rgba(255, 255, 255, 1);
    } to {
        color: rgba(0, 0, 0, 1);
    }
}

@keyframes to_light_brand {
    from {
        color: rgba(0, 0, 0, 1);
    } to {
        color: rgba(255, 255, 255, 1);
    }
}

@keyframes to_dark_item {
    from {
        color: rgba(255, 255, 255, 0.5);
    } to {
        color: rgba(0, 0, 0, 0.5);
    }
}

@keyframes to_light_item {
    from {
        color: rgba(0, 0, 0, 0.5);
    } to {
        color: rgba(255, 255, 255, 0.5);
    }
}

@keyframes to_dark_active {
    from {
        color: rgba(255, 255, 255, 0.9);
    } to {
        color: rgba(0, 0, 0, 0.9);
    }
}

@keyframes to_light_active {
    from {
        color: rgba(0, 0, 0, 0.9);
    } to {
        color: rgba(255, 255, 255, 0.9);
    }
}