# Enforce Unix newlines
* text=auto eol=lf

# Don't diff or textually merge source maps
*.map binary
# Don't diff or textually merge svgs
*.svg binary

*.config.js linguist-detectable=false

# Colours.sh is vendored
colours.sh linguist-vendored=true
