// Required
@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";

/* Coolors Exported Palette - coolors.co/587b7f-226165-f4f4f4-171717-2c2f35 */
$wintergreen-dream: rgba(88, 123, 127, 1);
$blue-sapphire: rgba(34, 97, 101, 1);
$paper: rgba(244, 244, 244, 1);
$eerie-black: rgba(23, 23, 23, 1);
$gunmetal: rgba(44, 47, 53, 1);

$body-bg: $paper;
$body-color: $eerie-black;

$theme-colors: (
    "primary": $wintergreen-dream,
    "secondary": $gunmetal,
    "accent1": $blue-sapphire,
    "accent2": $eerie-black,
    "paper": $paper
);

//Optional
@import "../bootstrap/scss/root";
@import "../bootstrap/scss/button-group";
@import "../bootstrap/scss/buttons";
@import "../bootstrap/scss/card";
@import "../bootstrap/scss/grid";
@import "../bootstrap/scss/jumbotron";
@import "../bootstrap/scss/modal";
@import "../bootstrap/scss/nav";
@import "../bootstrap/scss/navbar";
@import "../bootstrap/scss/tables";