#background {
    width: 100%;
    height: auto;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
}

#aligner {
    position: relative;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

#credit {
    transform: translateY(-82px);
    float: right;
}