<div class="container-fluid text-center blue text-light text-md-left">
  <div class="row">
    <div class="col-md-3 mt-md-0 mt-3 px-5">
      <h5 class="text-uppercase d-block text-center">Luke Zhang</h5>
      <img class="w-md-100 w-sm-50" src="/images/logo-light.png"/>
    </div>
    <div class="col-md-3"></div> 

    <hr class="clearfix w-50 d-md-none pb-3"/>

    <div class="col-md-3 mb-md-0 mb-3">

      <h5 class="text-uppercase">Nav</h5>
      <ul class="list-unstyled">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/portfolio.html">Portfolio</a>
        </li>
        <li>
          <a href="https://rebrand.ly/luke-zhang-resume" target="_blank" rel="noopener noreferrer">Resume</a>
        </li>
        <li>
          <a href="/contact.html">Contact</a>
        </li>
      </ul>

    </div>

    <div class="col-md-3 mb-md-0 mb-3">
      <h5 class="text-uppercase">Profiles</h5>

      <ul class="list-unstyled">
        <li>
          <a href="https://github.com/Luke-zhang-04" target="_blank" ref="noopener noreferrer">
            GitHub
          </a>
        </li>
        <li>
          <a href="mailto:Luke.zhang2004@gmail.com" target="_blank" ref="noopener noreferrer">
            Email
          </a>
        </li>
        <li>
          <a href="https://pypi.org/user/Luke-zhang-04/" target="_blank" ref="noopener noreferrer">
            PyPi
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/luke-zhang-1b8a89198/" target="_blank" ref="noopener noreferrer">
            Linkedin
          </a>
        </li>
        <li>
          <a href="https://twitter.com/Luke_zhang_04" target="_blank" ref="noopener noreferrer">
            Twitter
          </a>
        </li>
        <li>
          <a href="https://stackoverflow.com/users/12370337/luke-zhang-04" target="_blank" ref="noopener noreferrer">
            Stackoverflow
          </a>
        </li>
        <li>
          <a href="https://www.npmjs.com/~luke-zhang-04" target="_blank" ref="noopener noreferrer">
            NPM
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright text-center py-3">Copyright © 2020: Luke Zhang</div>
